@charset "UTF-8";
/* CSS Document */
/*web font*/
@font-face{
  font-family: 'Oswald';
  src: url('../font/Oswald.ttf') format("truetype");
}
@font-face {
   font-family: 'Infinity';
   src: url('../font/Infinity.ttf') format("truetype");

   font-family: 'Kokugl';
   src: url('../font/kokugl.ttf') format("truetype");
}
.jp{
  font-family: Kokugl;
}
/*/web font*/

/*初期設定*/
body {
  background: #1b1b1b;
  color: #fff;
  font-size: 62.5%;/* rem変換 */
  font-family:Infinity;
  background-image: url(../img/bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color:#464646;

}
/*/初期設定*/
/*wrapper
*********************************/
#wrapper{
  width:816px;
  margin:0 auto;
  text-align: center;
  font-size:1.4rem;
}


/*Nowloading
***********************************/
#loader-bg {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: #000;
  z-index:1000;
}
#loader {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  margin-top: -100px;
  margin-left: -100px;
  text-align: center;
  color: #fff;
  z-index: 1001;
}
#loader img{
  width:100%;
  height:auto;
}
#loader p{
  font-size: 1.8rem;
  font-family:Infinity;
}
/* /Nowloading
*********************************/

/*header
***********************************/
#header {
  width:100%;
  height:60px;
  background: #2b2b2b;
  position:fixed;
  top:0;
  left:0;
  transition: .3s;
  z-index:999;
}

#header .inner nav ul {
  width:816px;
  text-align:center;
  margin:0 auto;
  position:relative;
}
#header .inner nav ul li {
  display:inline-block;
  width:70px;
  margin-right: 15px;
  padding:23px 0 16px 0;
}
#header .inner nav ul li:nth-child(2){
  margin-right:45px;
}
#header .inner nav ul li:nth-child(4){
  margin-left:45px;
}
#header .inner nav ul li:last-child{
  margin-right:0px;
}
#header .inner nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size:1.2rem;
  vertical-align: bottom;
  transition: .3s;
}
#header .inner nav ul li.icon{
  width:30px;
  padding:0;
  position:absolute;
  top:16px;
  left:50%;
  margin-left:-20px;
  box-shadow:0px 0px 9px 3px #4b4b4b;
  transition: transform 0.2s linear;
}
#header .inner nav ul li.icon:hover{
  transform: scale(1.2);

}
#header .inner nav ul li.icon a{
  overflow:hidden;
}

#header .inner nav ul li.icon a img{
  width:30px;
  height:auto;
  vertical-align: bottom;
  transition: transform 0.2s linear;

}
#header .inner nav ul li.icon a img:hover{
  transform: scale(1.0);
}
/*/header*/

/*hero
**********************************/
#main .hero{
  margin:200px auto 500px;
  padding-top:60px;
}
/*about
********************************************/
section#about{
  padding-top:80px;/*スライド用余白*/
  margin-bottom:800px;
  position:relative;
}
section#about h2{
  font-size:3.0rem;
}
section#about ul li a{
  font-size:1.4rem;
}
/*about総括設定*/
span.big{
  font-size:2.0rem;
  font-weight:bold;
  text-decoration:underline;
}
/*about1
*************************************/
div#about1 img{
  width:150px;
  height:150px;
  border-radius:75px;
}
div#about1 .name{
  margin:5px 0 20px;
}
div#about1 .name p{
  font-size:1.0rem;
  font-weight:bold;
  letter-spacing: 3px;
}

div#about1 .name p.jp{
  font-size:2.0rem;
  font-weight:bold;
}
/*about2
*************************************/
div#about2{
  text-align:left;
}
/*about3
*************************************/
/*about4
*************************************/
/*about5
*************************************/
/*about6
*************************************/


/*create
*****************************************************/
section#create{
  padding-top:80px;/*スライド用余白*/
  margin-bottom:500px;/*スペース空けマージン*/
  position:relative;
}
section#create h2{
  font-size:3.0rem;
}
section#create ul li a{
  font-size:1.4rem;
}
/*create1
*************************************/

/*create2
*************************************/

/*create3
*************************************/

/*タブ実装用about
*********************************************/
.tab-content_a {
  width:816px;
  height:auto;
	transition: all .3s;
	opacity: 0;
}
.tab-content_a.is_show_a {
	opacity: 1;
}
.tabrow_a {
	margin: 30px 0 0;
	padding: 0 20px 0 15px;
  text-align:left;
}
.tabrow_a li {
	display: inline-block;
	list-style: none;
	padding: 0;
}
.tabrow_a li + li a {
	margin-left: -5px;
}
.tabrow_a a {
	background-color: #ccc;
	border-radius: 6px 6px 0 0;
	box-shadow: inset 0 -6px 10px 0px #aaa;
	color: #000;
	display: block;
	font-size: 14px;
	padding: 7px 30px;
	position: relative;
	text-decoration: none;
	transition: all .3s;
	transform-origin: 50% 90%;
}
.tabrow_a .is_active_a {
	background-color: #eee;
	box-shadow: none;
	font-weight: bold;
	z-index:1;
	transform: scale(1.2);
}

.tab-content_a {
	background-color: #282828;
	border: 1px solid #eee;
  border-bottom:none;
  border-radius:0 10px 0px 0;
	box-shadow: 0 1px 0 0 #eee;
	padding: 30px 20px;
	position: absolute;
	width: 100%;
	box-sizing: border-box;
}
/*タブ実装用create
*********************************************/
.tab-content_c {
  width:816px;
  height:auto;
	transition: all .3s;
	opacity: 0;
}
.tab-content_c.is_show_c {
	opacity: 1;
}
.tabrow_c {
	margin: 30px 0 0;
	padding: 0 20px 0 15px;
  text-align:left;
}
.tabrow_c li {
	display: inline-block;
	list-style: none;
	padding: 0;
}
.tabrow_c li + li a {
	margin-left: -5px;
}
.tabrow_c a {
	background-color: #ccc;
	border-radius: 6px 6px 0 0;
	box-shadow: inset 0 -6px 10px 0px #aaa;
	color: #000;
	display: block;
	font-size: 14px;
	padding: 7px 30px;
	position: relative;
	text-decoration: none;
	transition: all .3s;
	transform-origin: 50% 90%;
}
.tabrow_c .is_active_c {
	background-color: #eee;
	box-shadow: none;
	font-weight: bold;
	z-index:1;
	transform: scale(1.2);
}

.tab-content_c {
	background-color: #282828;
	border: 1px solid #eee;
  border-bottom:none;
  border-radius:0 10px 0px 0;
	box-shadow: 0 1px 0 0 #eee;
	padding: 30px 20px;
	position: absolute;
	width: 100%;
	box-sizing: border-box;
}


/*GET IN TOUCH
**************************************/
section#contact{
  width:100%;
}
section#contact h2{
  font-size:3.0rem;
}
section#contact div.form-info{
  width:50%;
  font-size:1.0rem;
}
.form-container {
   background-image: -ms-linear-gradient(top, #2b2b2b 0%, #2b2b2b 100%);
   border-radius: 8px;
   font-family: 'Helvetica Neue',Helvetica,sans-serif;
   text-decoration: none;
   vertical-align: middle;
   min-width:300px;
   padding:20px;
   width:50%;
   }
.form-field {
   border: 0px solid #0091ff;
   background: #ffffff;
   border-radius: 6px;
   color: #2b2b2b;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 1px 1px;
   padding:8px;
   margin-bottom:20px;
   width:280px;
   }
.form-field:focus {
   background: #ffffff;
   color: #2b2b2b;
   }
.form-container h2 {
   text-shadow: #000000 0 1px 0;
   font-size:1.4rem;
   margin: 0 0 10px 0;
   text-align:left;
    }
.form-title {
   margin-bottom:10px;
   color: #ffffff;
   text-shadow: #000000 0 1px 0;
   text-align:left;
   font-size:1.0rem;
   letter-spacing: 2px;
   }
.submit-container {
   margin:8px 0;
   text-align:right;
   }
.submit-button {
   border: 0px solid #002185;
   background: #0088ff;
   background-image: -ms-linear-gradient(top, #0088ff 0%, #0088ff 100%);
   border-radius: 5px;
   box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 0px 0;
   text-shadow: #063642 0 1px 0;
   color: #ffffff;
   font-family: helvetica, serif;
   padding: 8.5px 18px;
   font-size: 14px;
   text-decoration: none;
   vertical-align: middle;
   }
.submit-button:hover {
   border: 0px solid #002185;
   text-shadow: #063642 0 1px 0;
   background: #8cc9ff;
   background-image: -ms-linear-gradient(top, #8cc9ff 0%, #8cc9ff 100%);
   color: #fff;
   }
.submit-button:active {
   text-shadow: #8cc9ff 0 1px 0;
   border: 0px solid #002185;
   background: #ffffff;
   background-image: -ms-linear-gradient(top, #ffffff 0%, #ffffff 100%);
   color: #8cc9ff;
   }
